<!DOCTYPE html>
{% load pwa %} {% load static %}
<html lang="en">
  <head>
    {% progressive_web_app_meta %}
    <title>Category List</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% get_static_prefix %}styles/index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{% get_static_prefix %}javascript/index.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="panel-group">
        <div class="panel panel-primary">
          <div tabindex="0" class="panel-heading">Category List</div>
          <div class="panel-body">
            <div id="category-list">
              {% for category in categories %}
              <button
                id="item{{forloop.counter}}"
                tabindex="{{forloop.counter}}"
                onclick="window.location='/articles/{{category.name}}/0/'"
              >
                {{category.name}}
              </button>
              {% endfor %}
            </div>
            {% if next_category_exist %}<button
              id="item8"
              tabindex="{{next_top_category_tabIndex}}"
              onclick="window.location='/categories/{{next_index}}/'"
            >
              Next Top Categories</button
            >{% endif %}
            <button id="item9" tabindex="{{mainMenu_tabIndex}}" onclick="window.location='/home/'">
              Main Menu
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
